{% extends "base.html" %}
{% load static %}

{% block content %}


{% comment %} 검색 창 구현 {% endcomment %}

{% comment %} <form action="{% url "movies:movie_list" %}" method="GET">
  <input type="text" name="searched_movies" value="{{ searched_movies }}" placeholder="원하는 영화를 검색해요!">
  <button>검색</button>
</form>

<div class="genre-filter">
  <label for="genre-select">장르를 선택하세요! </label>
  <select id="genre-select">
    <option value="all">전체</option>
    {% for genre in genres %}
    <option value="{{ genre.id }}">{{ genre.name }}</option>
    {% endfor %}
  </select> {% endcomment %}
{% comment %} <div class="container movie-list-search-form">
  <form action="{% url "movies:movie_list" %}" method="GET">
    <input type="text" name="searched_movies" value="{{ searched_movies }}" placeholder="원하는 영화를 검색해요!">
    <button>검색</button>
  </form>
</div> {% endcomment %}

<div class="container movie-list-search-form">
  <div class="genre-filter">
    <label for="genre-select">장르를 선택하세요! </label>
    <select id="genre-select">
      <option value="all">전체</option>
      {% for genre in genres %}
      <option value="{{ genre.id }}">{{ genre.name }}</option>
      {% endfor %}
    </select>
  </div>
  <form action="{% url "movies:movie_list" %}" method="GET">
    <input type="text" name="searched_movies" value="{{ searched_movies }}" placeholder="원하는 영화를 검색해요!">
    <button>검색</button>
  </form>

</div>

<div class="movie-list-container container">

  <div class="container">
    <div id="movies" class="movies-container">
      {% for movie in movies %}
      <div class="movie" data-genre-ids="{% for genre in movie.genres.all %}{{ genre.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
          <div class='poster-with-heart'>
            <img class='heart-icon'
            src="{% static 'img/heart-none.png' %}"
            alt="icon"
            data-movie-id="{{ movie.id }}"
            {% if movie.id in liked_movie_ids %}
            data-is-liked="true"
            {% endif %}>
            <div class="poster-overlay"></div>
            <a href="{% url 'movies:movie_detail' movie.id %}">
              <img class="movie-poster" src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="{{ movie.title }}">
            </a>
          </div>
          <h4 class="movie-title">{{ movie.title }}</h4>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // 영화 목록 애니메이션 효과
  const movieListContainer = document.querySelector('.movie-list-container');
  
  // 페이지 로드 시 애니메이션 효과 적용
  window.addEventListener('load', function() {
    movieListContainer.classList.add('visible');
  });

  // 장르 선택 기능 구현
  const genreSelect = document.getElementById('genre-select');
  const moviesContainer = document.getElementById('movies');
  const allMovies = Array.from(moviesContainer.children);

  genreSelect.addEventListener('change', function () {
    const selectedGenre = genreSelect.value;

    allMovies.forEach(movie => {
      if (selectedGenre === 'all') {
        movie.style.display = 'block';
      } else {
        const movieGenres = movie.dataset.genreIds.split(',');
        if (movieGenres.includes(selectedGenre)) {
          movie.style.display = 'block';
        } else {
          movie.style.display = 'none';
        }
      }
    });
  });

  // 하트 버튼 찜하기 기능 구현
  const heartIcons = document.querySelectorAll('.heart-icon');

  heartIcons.forEach(icon => {
    if (icon.dataset.isLiked === "true") {
      icon.src = "{% static 'img/heart-fill.png' %}";
    }
  });

  const movieContainer = document.querySelector('.movies-container');
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  movieContainer.addEventListener('click', function (event) {
    if (!event.target.classList.contains('heart-icon')) return;

    event.preventDefault();

    if (!isUserLoggedIn) {
      alert('로그인이 필요한 페이지입니다. 로그인 페이지로 이동합니다.')
      window.location.href = "{% url 'accounts:login' %}"
      return
    }
    
    const movieId = event.target.dataset.movieId;

    event.target.classList.add('bounce');

    event.target.addEventListener('animationend', function() {
      event.target.classList.remove('bounce');
    });

    axios({
      method: 'post',
      url: `/movies/${movieId}/likes/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isLiked = response.data.is_liked;
        event.target.src = isLiked 
          ? "{% static 'img/heart-fill.png' %}" 
          : "{% static 'img/heart-none.png' %}";
        event.target.dataset.isLiked = isLiked.toString();
      })
      .catch((error) => {
        console.log(error);
      });
  });
})
</script>
{% endblock content %}