{% extends "base.html" %}

{% block content %}
<div class="mypage-cate container">
  <div class="row">
    <div class="mypage-cate-title col-2">
      <p>계정 정보</p>
    </div>
    <div class="mypage-cate-line col-1">

    </div>
    <div class="mypage-cate-detail col-9">
      <a href="{% url "accounts:update" %}"><p>회원정보 수정</p></a>
      <a href="{% url "accounts:password_change" user.pk %}"><p>비밀번호 변경</p></a>
      <a href="{% url "accounts:delete" %}"><p>회원탈퇴</p></a>
    </div>
  </div>
</div>
{% endblock content %}