{% extends "base.html" %}

{% block content %}
    <div class="preference-form-container">
        <div>
        <h2>나의 취향을 선택하고, 만들어요!</h2>
        <hr>
        </div>
        <form method="post">
            {% csrf_token %}

            <div class="preference-section">
                <h3>장르 (최대 3개)</h3>
                <div class="checkbox-group" id="genresSection">
                    {{ form.favorite_genres }}
                </div>
            </div>
            <hr class="preference-hr">
            <button type="submit" class="submit-btn signup-btn-pink">저장하기</button>
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sections = ['genres'];
        
            sections.forEach(section => {
                const checkboxes = document.querySelectorAll(`#${section}Section input[type="checkbox"]`);
                checkboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', function() {
                        const checked = document.querySelectorAll(`#${section}Section input[type="checkbox"]:checked`);
                        if (checked.length > 3) {
                            this.checked = false; // 현재 체크를 해제
                            alert(`${section.charAt(0).toUpperCase() + section.slice(1)}는 최대 3개까지만 선택할 수 있습니다.`);
                        }
                    });
                });
            });
        });
    </script>
{% endblock content %}