{% extends "base.html" %}

{% block content %}
    <div class="form-container">
      <h2>회원정보 수정</h2>
      <form method="POST">
          {% csrf_token %}
          <hr>
          <div class="form-group">
              <label for="{{ form.first_name.id_for_label }}">이름</label>
              <input type="text" name="first_name" value="{{ form.first_name.value }}" id="{{ form.first_name.id_for_label }}" class="form-control">
          </div>

          <div class="form-group">
              <label for="{{ form.last_name.id_for_label }}">성</label>
              <input type="text" name="last_name" value="{{ form.last_name.value }}" id="{{ form.last_name.id_for_label }}" class="form-control">
          </div>

          <div class="form-group">
              <label for="{{ form.email.id_for_label }}">이메일</label>
              <input type="email" name="email" value="{{ form.email.value }}" id="{{ form.email.id_for_label }}" class="form-control">
          </div>

          <div class="form-group">
              <label for="{{ form.birth_date.id_for_label }}">생년월일</label>
              <input type="date" name="birth_date" value="{{ form.birth_date.value }}" id="{{ form.birth_date.id_for_label }}" class="form-control">
          </div>

          <div class="form-group">
              <label for="{{ form.favorite_directors.id_for_label }}">선호하는 감독</label>
              <div>
                  {% for director in form.favorite_directors %}
                      <label>
                          <input type="checkbox" name="favorite_directors" value="{{ director.value }}" {% if director.checked %}checked{% endif %}>
                          {{ director.choice_label }}
                      </label>
                  {% endfor %}
              </div>
          </div>

          <div class="form-group">
              <label for="{{ form.favorite_genres.id_for_label }}">선호하는 장르</label>
              <div>
                  {% for genre in form.favorite_genres %}
                      <label>
                          <input type="checkbox" name="favorite_genres" value="{{ genre.value }}" {% if genre.checked %}checked{% endif %}>
                          {{ genre.choice_label }}
                      </label>
                  {% endfor %}
              </div>
          </div>

          <div class="form-group">
              <label for="{{ form.favorite_awards.id_for_label }}">관심 있는 수상 내역</label>
              <div>
                  {% for award in form.favorite_awards %}
                      <label>
                          <input type="checkbox" name="favorite_awards" value="{{ award.value }}" {% if award.checked %}checked{% endif %}>
                          {{ award.choice_label }}
                      </label>
                  {% endfor %}
              </div>
          </div>
          <hr>
          <button type="submit" class="update-btn">저장</button>
        </form>
    </div>
{% endblock %}