{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    <link rel="stylesheet" href="{% static 'css/articles.css' %}">
    <title>WARM</title>
</head>
<body>
  {% csrf_token %}
  <nav>
    <div class="container">
      <header class="base-main-text">
          <a href="{% url "movies:index" %}">WARM</a>
          <button class="menu-toggle">
            <img src="{% static "img/menu.png" %}" alt="menu">
          </button>
      </header>

      <div class='base-nav-menu'>
        <a href="{% url "movies:weather_input" %}">오늘 날씨, 오늘 영화 🌞</a>
        <a href="{% url "movies:movie_list" %}">장르별 영화</a>
        <a href="{% url "movies:movie_record" %}">나의 기록</a>
        <a href="{% url "articles:main_page" %}">커뮤니티</a>
      </div>

      {% if request.user.is_authenticated %}
      <div class="nav-main-user-info">
        <a href="{% url "accounts:mypage" %}">
          <p class="nav-base-name">반가워요! <span>{{ user.nickname }}</span>님, 영화 보기 좋은 날이에요! 😊</p>
        </a>
        <a href="{% url "accounts:mypage" %}">
          <p class="nav-base-name-hidden"><span>{{ user.nickname }}</span>님</p>
        </a>
        <form action="{% url 'accounts:logout' %}" method="POST" class="nav-logout-form">
          {% csrf_token %}
          <input type="submit" value="LOGOUT">
        </form>
      </div>
      {% else %}
      <a class="nav-user-login" href="{% url "accounts:login" %}">로그인</a>
      <a class="nav-user-signup" href="{% url "accounts:signup" %}">회원가입</a>
      {% endif %}
      </div>
    </nav>
  <hr>
 
  {% comment %} <main>
    {% if request.user.is_authenticated %}
    <p>반가워요! {{ user.username }}님</p>
    
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="LOGOUT">
    </form>

    <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>
    <form action="{% url 'accounts:update' %}" method="GET">
      <button type="submit">회원정보 수정</button>
    </form>
    <hr>
    {% comment %} <h1>선호도 정보</h1>

    <h2>선호하는 감독:</h2>
    <ul>
      {% for director in favorite_directors %}
        <li>{{ director.name }}</li>
      {% endfor %}
    </ul>
    
    <h2>선호하는 장르:</h2>
    <ul>
      {% for genre in favorite_genres %}
        <li>{{ genre.name }}</li>
      {% endfor %}
    </ul>

    <h2>관심있는 수상 내역:</h2>
    <ul>
      {% for award in favorite_awards %}
        <li>{{ award.name }}</li>
      {% endfor %}
    </ul> {% endcomment %} 
  {% comment %} {% else %}
    <form action="{% url 'accounts:signup' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원가입">
    </form>
    <form action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="LOGIN">
    </form>
  {% endif %}
  </main> {% endcomment %}
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  
  <footer>
    <div class="footer-container">
      <p class="footer-text1">&copy; SSAFY 12 / 2024 My Website</p>
      <p class="footer-text2">WARM</p>
    </div>
  </footer>
  <script>
    window.isUserLoggedIn = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuToggle = document.querySelector('.menu-toggle')
    const nav = document.querySelector('nav')
    const isUserLoggedIn = window.isUserLoggedIn

    if (!isUserLoggedIn) {
      // 비로그인 상태에서는 햄버거 버튼 숨김
      menuToggle.style.display = 'none';
    } else {
      // 로그인 상태에서는 햄버거 버튼 보임
      menuToggle.style.display = 'block';
    }

    menuToggle.addEventListener('click', () => {
      nav.classList.toggle('menu-open')
    })
  })
</script>